.logo{
    img{
        width: 100px;
    }
}
.header__slider {
    &-item{
        position: relative;
        height: 100vh;
        background-image: url(../img/header/header-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.slider-item__info {
    position: absolute;
    right: 20px;
    bottom: 70px;
    text-align: right;
    &-title {
        font-size: 40px;
        margin-bottom: 17px;
        font-weight: 800;
        line-height: 1;
    }
    &-suptitle {
        margin-bottom: 5px;
    }
    &-suptext {
        margin-bottom: 8px;
    }
    &-text {
        font-weight: 800;
        font-size: 20px;
        line-height: 1;
        margin-bottom: 20px;
    }
}
.slider-arrow {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
    &__left {
        right: 55px;
    }
}
.slider-dots--head{
    display: none;
}

.header .slick-track {
    transform: translate3d(0, 0, 0) !important;}
.dots-box {
    width: 160px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid #fff;
    padding-top: 6px;
    &__number {
        font-weight: 800;
        font-size: 24px;
        line-height: 34px;
    }
    &__name {
        font-weight: 300;
        text-transform: capitalize;
    }
}
.header-title {
    position: absolute;
    top: 20px;
    left: 60px;
    z-index: 1;
    max-width: 467px;
    font-weight: 800;
    font-size: 90px;
    line-height: 105px;
    opacity: 0.07;        
}
.header__aside{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    padding-bottom: 20px;
    text-align: center;
    height: 100vh;
}
.menu {
    background-color: #000;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    transform: translateX(-100%);
    transition: all .5s;
    &.active{
        transform: translateX(0);
    }
}
.menu__list{
    text-align: center;
    li{
        display: inline-block;
    }
    a {
        padding: 15px;
        span {
            display: block;
            padding-top: 6px;
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            text-transform: capitalize;
            letter-spacing: 3px;
        }
    }
}
.menu-btn{
    position: absolute;
    z-index: 4;
    top: 75px;
    right: 20px;
    width: 40px;
    &__line{
        height: 5px;
        background-color: $green;
        margin-bottom: 5px;
    }
}
.header__date {
    font-weight: 800;
    font-size: 60px;
    margin-bottom: 15px;
    line-height: 64px;
    span {
        display: block;
        padding-top: 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        opacity: .5;
    }
}
.header__search {
    padding: 15px 0 5px;
}   

.header__location {
    position: relative;
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.05px;
    text-transform: capitalize;
    padding-left: 19px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 11px;
        height: 13px;
        background-image: url(../img/nav/mapmark.svg);
    }
}
.header__map{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    svg{
        display: none;
    }
}
.headline-left {
    font-size: 16px;
}
.header__scroll{
    display: block;
    position: absolute;
    left: 20px;
    bottom: 40px;
    z-index: 1;
}
.line-animation {
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation :animdash 5s infinite 6s;
}

@keyframes animdash {
    to{
        stroke-dashoffset: 0;
    }
}