.holder{
    background-repeat: no-repeat;
    background-position: bottom right;
    .slider-arrow{
        top: 130px;
        opacity: .25;
    }
}
.sleep .holder-slider{
    &__descr{
        background-position: right center;
    }
}
.holder-slider{
    &__head{        
        min-height: 720px;
    }    
    &__descr{
        padding-top: 160px;
        padding-left: 20px;
        margin-top: -230px;
        min-height: 320px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right -33px;        
        
        .descr__head{
            position: relative;
            padding-right: 68px;
            &.sleep {
                padding-right: 215px;
            }
            img{
                position: absolute;
                top: 0;
                right: 0;
            }
            .holder__star-list{
                position: absolute;
                top: 0;
                right: 0;
               
                img{
                    position: static;
                }
            }
        }
    }
    &__subtitle{
        text-align: right;
        padding-right: 20px;
        padding-top: 60px;
    }
    &__btn{
        text-align: center;
    }
}
.holder-slider__info{
    margin-bottom: 20px;

    &-item{
        margin-bottom: 40px;
        padding-left: 20px;
    }
    &-subtitle{
        white-space: nowrap;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 8px;
        opacity: 0.5;
    }
    &-title{
        position: relative;
        font-weight: 800;
        font-size: 40px;
        line-height: 36px;
        .holder-slider__info-title_span{
            display: block;
            font-weight: 400;
            font-size: 14px;
            line-height: 36px;
            letter-spacing: 0;
            opacity: 0.75;
        }
    }
}
