.shop{
    background-image: url(../img/shop/shop-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.shop__slider{
    padding-left: 132px;
    &-inner{
        display: flex;
    }
    &-info{
        max-width: 480px;
        width: 100%;
        margin-right: 40px;
        padding-top: 165px;
    }
    &-price{
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 65px;
        sup{
            font-size: 18px;
            padding-left: 2px;
        }
    }
}
.shop__star-list {
    margin-left: -9px;
}
.descr__head-shop{
    max-width: 340px;
    margin-bottom: 50px;
}