.shop{
    background-image: url(../img/shop/shop-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    .slider-arrow{
        opacity: .25;
        top: -82px;
    }
}
.shop__slider{
    padding-left: 20px;
    &-inner{
        // display: flex;
        // flex-direction: column;
    }
    &-info{
        max-width: 480px;
        width: 100%;
        margin-right: 40px;
        padding-top: 55px;
        padding-bottom: 50px;
    }
    &-price{
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 25px;
        sup{
            font-size: 18px;
            padding-left: 2px;
        }
    }
}
.shop__star-list {
    margin-left: -9px;
}
.descr__head-shop{
    max-width: 340px;
    margin-bottom: 10px;
}
.surfboard{
    position: relative;    
}
.surfboard-box{
    position: absolute;        
}
.surfboard__position{
    &--1{
        right: 40px;
        top: 215px;
        .surfboard-box__content{
            left: -160px;
        }
    }
    &--2{
        left: -5px;
        top: 290px
    }
    &--3{
        left: 51px;
        bottom: 68px;
        .surfboard-box__content{
            // padding-right: 104px;
            left: 60px;
            
        }
    }
}
.surfboard-box__circle{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    &.active{
        .circle-row{
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
}
.circle-row{
    background-color: $green;
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & + .circle-row{
    transform: translate(-50%, -50%) rotate(90deg);
    }
}
.surfboard-box__circle.active + .surfboard-box__content{
    display: block;
}
.surfboard-box__content{
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    width: 285px;//360
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
}
.shop__slider-content{
    padding-left: 50px;
    display: flex;
    align-items: flex-end;
}
.shop__extras{
    padding-left: 150px;
    &-inner{
        display: flex;
    }
    &-title{
        font-weight: 800;
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    &-box{
        text-align: center;
        margin-right: 57px;
    }
    &-img{
        min-height: 105px;
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        justify-content: center;
    }
    &-name{
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 8px;
        opacity: .5;
        padding-bottom: 16px;
    }
    &-price{
        font-weight: 800;
        font-size: 18px;
        line-height: 40px;
    }
}