.shop{
    background-image: url(../img/shop/shop-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.shop__slider{
    padding-left: 132px;
    &-inner{
        display: flex;
    }
    &-info{
        max-width: 480px;
        width: 100%;
        margin-right: 40px;
        padding-top: 150px;
    }
    &-price{
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 65px;
        sup{
            font-size: 18px;
            padding-left: 2px;
        }
    }
}
.shop__star-list {
    margin-left: -9px;
}
.descr__head-shop{
    max-width: 340px;
    margin-bottom: 50px;
}
.surfboard{
    position: relative;
    &-box{
        position: absolute;
        right: 40px;
        top: 215px;        
    }
}
.surfboard-box__circle{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    &.active{
        .circle-row{
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
}
.circle-row{
    background-color: $green;
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & + .circle-row{
    transform: translate(-50%, -50%) rotate(90deg);
    }
}
.surfboard-box__circle.active + .surfboard-box__content{
    display: block;
}
.surfboard-box__content{
    display: none;
    position: absolute;
    top: -15px;
    left: 40px;
    width: 360px;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    padding-left: 104px;
    &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
    }
}
.shop__slider-content{
    padding-left: 170px;
    display: flex;
    align-items: flex-end;
}
.shop__extras{
    padding-left: 150px;
    &-inner{
        display: flex;
    }
    &-title{
        font-weight: 800;
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    &-box{
        text-align: center;
        margin-right: 57px;
    }
    &-img{
        min-height: 105px;
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        justify-content: center;
    }
    &-name{
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 8px;
        opacity: .5;
        padding-bottom: 16px;
    }
    &-price{
        font-weight: 800;
        font-size: 18px;
        line-height: 40px;
    }
}