.surf{
    background-image: url(../img/icons/surf-bg.svg);
    background-repeat: no-repeat;
    background-position: right 200px;
    background-size: auto;
}
.surf__subtitle{
    text-align: right;
    padding-right: 20px;
    transform: translateY(-100%);
}

.slider-map{
    max-width: 100%;
    min-height: 280px;    
    margin: 0 auto;
}

.slider-dots__content{
    bottom: 35px;
    // transform: translateX(-50%);
    width: 250px;
    padding: 28px 15px 0;
    background: rgba(#0F1010, .7);
    border-radius: 6px;
}
.slider-map .slick-current .slider-dots__content{
    background-color: rgba(#ccc, .7);
}
.slider-dots__title{
    position: relative;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    &:before{
        content: "";
        position: absolute;
        background-color: $green;
        width: 80px;
        height: 1px;
        bottom: 0;
        left: 0;
    }
}
.slider-dots__subtitle{
    text-transform: capitalize;
    font-size: 16px;
    line-height: 19px;
}
.slider-dots__link{
    padding-top: 4px;
}
.slider-dots__content-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.slider-dots__item{
    text-align: center;
    img {
        margin-bottom: 10px;
    }
}
.slider-dots__number{
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
}
.slider-dots__name{
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;

}
.surf__slider {
    padding-top: 110px;
    .slider-arrow {
        top: 50px;
        opacity: .25;
    }
    .slick-slide:nth-child(4n+1){
        .surf-box{
            margin-top: 32px;
        }
    }
    .slick-slide:nth-child(4n + 3){
        .surf-box{
            margin-top: 89px;
        }
    }
    .slick-current{
        .surf-box__inner-btn{
            display: block;
        }
        .surf-box__inner{
            background-color: rgba(#1C2121, .3);
        }
    }
}
.surf-box{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__inner{
        position: relative;
        min-height: 650px;
        background-color: rgba(#1C2121, .85);
        transition: all .5s;
        &:hover{
            background-color: rgba(#1C2121, .3);
            .surf-box__inner-btn{
                display: block;
            }
        }
        &-title{
            font-weight: 800;
            font-size: 40px;
            line-height: 36px;
            padding: 72px 0 0 40px;
            width: 140px;
        }
        &-location{
            position: absolute;
            left: 40px;
            bottom: 80px;
            width: 0;
            height: 0;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 8px;
            transform: rotate(-90deg);
            white-space: nowrap;
            span{
                font-weight: 100;
            }
        }
        &-btn{
            position: absolute;
            left: 45px;
            bottom: 0; 
            left: 0;
            right: 0;
            display: none;
            text-align: center;
        }
    }
}