.surf{
    padding: 160px 0 120px;
    background-image: url(../img/icons/surf-bg.svg);
    background-repeat: no-repeat;
    background-position: right 200px;
    background-size: auto;
}
.surf__subtitle{
    text-align: right;
    padding-right: 80px;
    transform: translateY(-100%);
}
.slider-map{
    max-width: 1200px;
    min-height: 635px;
    background-image: url(../img/surf/world-map-dots.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    .slick-list{
        min-height: 635px;
    }
    .slick-current{
        .slider-dots__content{
            display: block;
        }
    }
    .slick-track {
        transform: translate3d(0, 0, 0) !important;}
}
.slider-dots{
    position: relative;
}
.slider-dots--1{
    top: 321px;
    left: 25px;
    .slider-dots__content{
        z-index: 2;
        transform:translateX(0);
        &:before{
            left: 0;
        }
    }
}
.slider-dots--2{
    top: 270px;
    left: 0;
    .slider-dots__circle{
        position: relative;
        &:before{
            content: "";
            position: absolute;
            top: -25px;
            right: -15px;
            background-image: url(../img/surf/min-marker.png);
            background-size: cover;
            width: 14px;
            height: 17px;
        }
    }
}
.slider-dots--3{
    top: 310px;
    left: 25px;
}
.slider-dots--4{
    top: 525px;
    left: -65px;
}
.slider-dots--5{
    top: 220px;
    left: -60px;
}
.slider-dots--6{
    top: 540px;
    left: -115px;
}
.slider-dots--7{
    top: 380px;
    left: -95px;
}
.slider-dots--8{
    top: 485px;
    left: 35px;
    .slider-dots__content{
        transform:translateX(-262px);
        &:before{
            left: auto;
            right: 0;
        }
    }
}
.slider-dots__circle{
    width: 23px;
    height: 23px;
    background-color: $green;
    border-radius: 50%;
    box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
}
.slider-dots__content{
    position: absolute;
    bottom: 35px;
    transform: translateX(-50%);
    display: none;
    width: 285px;
    padding: 28px 31px 0 32px;
    background: rgba(#0F1010, .7);
    border-radius: 6px;
    &:before{
        content:'';
        position: absolute;
        bottom: -21px;
        left: 50%;
        width: 0;
        height: 0;
        border-bottom: 20px solid $green;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
.slider-dots__content-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.slider-dots__title{
    position: relative;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    &:before{
        content: "";
        position: absolute;
        background-color: $green;
        width: 80px;
        height: 1px;
        bottom: 0;
        left: 0;
    }
}
.slider-dots__subtitle{
    text-transform: capitalize;
    font-size: 16px;
    line-height: 19px;
}
.slider-dots__link{
    padding-top: 4px;
}
.slider-dots__item{
    text-align: center;
    img {
        margin-bottom: 10px;
    }
}
.slider-dots__number{
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
}
.slider-dots__name{
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;

}
.surf__slider {
    padding-top: 110px;
    .slider-arrow {
        top: 50px;
        opacity: .25;
    }
    .slick-slide:nth-child(4n+1){
        .surf-box{
            margin-top: 32px;
        }
    }
    .slick-slide:nth-child(4n + 3){
        .surf-box{
            margin-top: 89px;
        }
    }
    .slick-current{
        .surf-box__inner-btn{
            display: block;
        }
        .surf-box__inner{
            background-color: rgba(#1C2121, .3);
        }
    }
}
.surf-box{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__inner{
        position: relative;
        min-height: 750px;
        background-color: rgba(#1C2121, .85);
        transition: all .5s;
        &:hover{
            background-color: rgba(#1C2121, .3);
            .surf-box__inner-btn{
                display: block;
            }
        }
        &-title{
            font-weight: 800;
            font-size: 40px;
            line-height: 36px;
            padding: 72px 0 0 40px;
            width: 140px;
        }
        &-location{
            position: absolute;
            left: 40px;
            bottom: 80px;
            width: 0;
            height: 0;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 8px;
            transform: rotate(-90deg);
            white-space: nowrap;
            span{
                font-weight: 100;
            }
        }
        &-btn{
            position: absolute;
            left: 45px;
            bottom: 0; 
            left: 0;
            right: 0;
            display: none;
            text-align: center;
        }
    }
}