@media(min-width: 360px){
    .header__map{
        svg{
            display: block;
            width: 300px;
            height: 250px;
        }
    }
    .subtitle {
        &__head{
            font-size: 25px;
        }
    }
    
    .btn {
        font-size: 30px;
    }
}
@media(min-width: 400px){    
    .subtitle {
        &__head{
            font-size: 30px;
        }
    }
    .title{    
        span{
            font-size: 100px;
        }
    }
    .btn {
        font-size: 40px;
    }

    .descr{
        &__head{
            font-size: 35px;
        }
    }        
    
    .header-title{
        font-size: 130px;
    }
    .header__map{
        svg{
            width: 450px;
            height: 250px;
        }
    }
    .slider-dots__content{
        bottom: 35px;
        width: 285px;
        padding: 28px 31px 0 32px;
    }
    .holder-slider{ 
        &__descr{
            padding-top: 160px;
        }
    }
}
@media(min-width:450px){
    .holder{
        background-image: url(../img/travel/travel-bg.png);
        &.sleep{
            background-image: url(../img/travel/sleep-bg.png);
        }
    }
    .descr{
        &__head{
            font-size: 40px;
            .holder__star-list{
                top: 0;
                right: 0;
            }
        }
    } 
    .holder-slider__descr .descr__head .holder__star-list{
        top: 0;
        right: 0;
    }
}
@media(min-width: 600px){
    .holder-slider__descr{
        background-position: right -119px;
    }
}
@media only screen and (max-width: 610px){
    .sleep .holder-slider__descr{
        background-image: none !important;
    }
}
@media(min-width: 760px){
    .header__search{
        padding: 33px 15px 15px;
    }
    .header__map{
        svg{
            display: block;
        }
    }
    .descr__head-shop{
        margin-bottom: 50px;
    }
    .surfboard-box__content{
        padding-left: 104px;
        top: -15px;
        left: 40px;
        width: 360px;
        &::before {
            content: '';
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: #fff;
            left: 0;
            top: 50%;
        }
    }
    .surfboard__position{
        &--1{
            .surfboard-box__content{
                left: 0;
            }
        }
        &--3{
            .surfboard-box__content{
                padding-left: 0;
                left: 36px;
                &::before {
                    right: auto;
                    left: -15px;
                    width: 15px;
                }
            }
        }
    }  
}

@media(min-width:779px){
    .holder{
        .title{
            span{
                padding-bottom: 80px;
            }
        }
    }   
}
@media(min-width: 780px){
    .title{
        span{
            font-size: 200px;
            padding-bottom: 0;
            transform: translateX(-50px);
        }
        h3{
            right: 90px;
        }
    }
    .headline-left {
        letter-spacing: 7.33333px;
    }
    .subtitle {
        &__head{
            font-size: 40px;
            padding-right: 10px;
        }
    }
}
@media(min-width:900px){
    .surf__slider {
        .slick-slide:nth-child(4n+1){
            .surf-box{
                margin-top: 32px;
            }
        }
        .slick-slide:nth-child(4n + 3){
            .surf-box{
                margin-top: 89px;
            }
        }
    }
}
@media(min-width: 960px){
    .header__aside{
        position: absolute;
        display: flex;
        padding-bottom: 0;
        background-color: rgba(#fff, .1);
        height: 110px;
    }
    .dots-box{
        width: 200px;
    }
    .holder{
        .slider-arrow{
            top: 235px;
        }
    }
    .holder-slider{
        &__head{
            background-repeat: no-repeat;
            background-position: top left;
            min-height: 780px;
        } 
        &__subtitle{
            padding-right: 80px;
            padding-top: 135px;
        }
    }
    
}
@media(min-width: 1024px){
    .quantity-button.quantity-up {
        right: 0px;
        left: auto;

      }
      
      .quantity-button.quantity-down {
        right: 25px;
      }
    .header__date{
        padding: 15px;
    }
    .header__location {
        margin-top: 40px;
    }
    .slider-dots--head {
        display: block;
        position: absolute;
        right: 0;
        bottom: 35px;
        max-width: 920px;
        width: 100%;
        .slick-current {
            .dots-box{
                border-top: 4px solid $green;
            }
        }
    }    
    .holder{
        padding-bottom: 265px;
    }
    .holder-slider__info{
        display: flex;
        justify-content: space-around;
        // margin-bottom: 250px;
        margin-bottom: 66px;

        &-item{
            position: relative;
            min-height: 200px;
            padding-left: 0;
            margin-bottom: 0;
        }
        &-subtitle{
            position: absolute;
            top: 100px;
            left: -100px;
            height: 0;
            width: 200px;
            text-align: right;
            transform: rotate(-90deg);
        }
        &-title{
            padding-left: 40px;
        }
    }
}

@media(min-width:1025px){
    .holder-slider__descr{
        background-position: right center;
    }
}
@media(min-width: 1070px){
    .menu-btn{
        display: none;
    }
    .menu {
        display: block;
        position: static;
        background-color: transparent;
        padding-top: 0;
        transform: translateX(0);
        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            a {
                span {
                    display: block;
                    padding-top: 6px;
                    margin-bottom: 20px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    text-transform: capitalize;
                    letter-spacing: 3px;
                }
            }
        }
    }
    .header__map{
        svg{
            width: 500px;
            height: 250px;
        }
    }
    .slider-dots--head{
        right: 50px;
    }
}
@media(min-width:1120px){
    
    .holder-slider{
        &__descr{
            padding-left: 135px;            
        }
    }
}
@media(min-width:1195px){
    .shop__slider{
        &-inner{
            display: flex;
        }
    }
    .shop__slider{
        padding-left: 132px;
        &-info{
            padding-top: 150px;
            padding-bottom: 0;
        }      
    }
    .surfboard__position{
        &--3{
            .surfboard-box__content{
                left: -400px;
                &::before {
                    right: 0;
                    left: auto;
                    width: 80px;
                }
                
            }
        }
    }    
}
@media(min-width:1249px){
    .slider-dots__content{
        display: block;
    }
}
@media(min-width:1250px){
    .slider-map{
        max-width: 1000px;
        min-height: 515px;
        background-image: url(../img/surf/world-map-dots.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        .slick-list{
            min-height: 515px;
        }
        .slick-current{
            .slider-dots__content{
                display: block;
            }
        }
        .slick-track {
            transform: translate3d(0, 0, 0) !important;}
    }
    .slider-dots__content{
        position: absolute;
        bottom: 35px;
        transform: translateX(-50%);
        display: none;
        width: 285px;
        padding: 28px 31px 0 32px;
        background: rgba(#0F1010, .7);
        border-radius: 6px;
        &:before{
            content:'';
            position: absolute;
            bottom: -21px;
            left: 50%;
            width: 0;
            height: 0;
            border-bottom: 20px solid $green;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    .slider-map .slick-current .slider-dots__content{
        background-color: rgba(#000, .7);
    }
    
    .slider-dots{
        position: relative;
    }
    .slider-dots--1{
        top: 266px;
        left: 25px;
        .slider-dots__content{
            z-index: 2;
            transform:translateX(0);
            &:before{
                left: 0;
            }
        }
    }
    .slider-dots--2{
        top: 230px;
        left: 0;
        .slider-dots__circle{
            position: relative;
            &:before{
                content: "";
                position: absolute;
                top: -25px;
                right: -15px;
                background-image: url(../img/surf/min-marker.png);
                background-size: cover;
                width: 14px;
                height: 17px;
            }
        }
    }
    .slider-dots--3{
        top: 250px;
        left: 25px;
    }
    .slider-dots--4{
        top: 390px;
        left: -35px;
    }
    .slider-dots--5{
        top: 180px;
        left: -60px;
    }
    .slider-dots--6{
        top: 450px;
        left: -85px;
    }
    .slider-dots--7{
        top: 310px;
        left: -85px;
    }
    .slider-dots--8{
        top: 400px;
        left: 35px;
        .slider-dots__content{
            transform:translateX(-262px);
            &:before{
                left: auto;
                right: 0;
            }
        }
    }
    .slider-dots__circle{
        width: 23px;
        height: 23px;
        background-color: $green;
        border-radius: 50%;
        box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
    }
}
@media(min-width: 1350px){
    .surf, .holder{
        padding: 160px 0 120px;
    }    
    .headline-left {
        font-size: 22px;
    }
    .holder-slider__info{
        &-title{
         .holder-slider__info-title_span{
             text-align: right;
         }
        }}

    .slider-item__info{
       right: 50px; 
    }
    .slider-item__info{
        padding-right: 50px;        
    }
    .holder-slider__info{
        margin-bottom: 256px;
    }
    .shop__slider{
        &-price{
            margin-bottom: 65px;
        }
    }
    .shop__slider-content{
        padding-left: 170px;
    }
}
@media(min-width: 1400px){
    .header__map{
        svg{
            width: 600px;
            height: 350px;
        }
    }
    .slider-item__info{
        right: 80px;
        bottom: 116px;
        &-title{
            font-size: 80px;
        }
        &-text{
            font-size: 40px;
        }
    }
    .slider-arrow{
        top: 40px;
        right: 80px;
        &__left {
            right: 125px;
        }
    }
    .header__aside{ 
        border-right: 1px solid rgba(#fff, .25);
        text-align: center;
        color: #fff;
        display: block;
        background-color: transparent;
        padding-right: 0;
        height: 100vh;
    }
    .menu {
        padding-top: 10px;
    }
    .menu__list{
        li{
            display: block;
        }
        a{
            padding: 0;
        }
    }
    .header__search {
        padding-top: 15px;
        padding-bottom: 35px;
    }
    .header__date{
        padding-top: 0;
    }
    .header__location{
        margin-top: 0;
    }
    .header__scroll{
        left: 210px;
    }
    .surf-box__inner{
        min-height: 750px;
    }
    .slider-map{
        max-width: 1200px;
        min-height: 635px;
        .slick-list{
            min-height: 635px;
        }
    }
    .slider-dots--1{
        top: 321px;
    }
    .slider-dots--2{
        top: 270
    }
    .slider-dots--3{
        top: 310px;
    }
    .slider-dots--4{
        top: 525px;
        left: -65px;
    }
    .slider-dots--5{
        top: 220px;
    }
    .slider-dots--6{
        top: 540px;
        left: -115px;
    }
    .slider-dots--7{
        top: 380px;
    }
    .slider-dots--8{
        top: 485px;
    }
    .slider-item__info{
        padding-right: 80px;        
    }
}
@media(min-width:1920px){
    .header__map{
        svg{
            width: auto;
            height: auto;
        }
    }
    .logo{
        img{
            width: auto;
        }
    }
    .header-title{
        font-size: 200px;
        line-height: 156px;
        left: 80px;
    }
    .menu {
        padding-top: 40px;
    }
    .header__search {
        padding-bottom: 35px;
    }
    .header_date{
        font-size: 70px;
        margin-bottom: 30px;
        span{
            padding-top: 15px;
            font-size: 16px;    
        }
    }
}