<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Go Serf
        link(rel="stylesheet", href="libs/normalize/normalize.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;800&display=swap")
        link(rel="stylesheet" href="css/main.min.css")
    body
        header.header
            .header-title
                | go serf
            .header__aside  
                .logo
                    a(href="") 
                        img(src="img/logo.svg", alt="") 
                nav.menu
                    ul.menu__list
                        li
                            img(src="img/nav/icon-1.svg", alt="")
                            span Serf
                        li
                            img(src="img/nav/icon-2.svg", alt="")
                            span Travel
                        li
                            img(src="img/nav/icon-3.svg", alt="")
                            span Sleep
                        li
                            img(src="img/nav/icon-4.svg", alt="")
                            span Shop  
                    .header__search
                        img(src="img/nav/search.svg", alt="")
                    .header__date
                        |20 
                        span 06 | 2018
                    .header__location
                        |California          
            .header__slider
                .header__slider-item.slider-item
                    .slider-item__info
                        .slider-item__info-suptitle.suptitle-left Surf
                        .slider-item__info-title North Shore
                        .slider-item__info-suptext.suptitle-left Condition
                        .slider-item__info-text Radical
                        a(href='#').slider-item__info-link 
                            img(src="img/icons/arrow-right.svg")
                .header__slider-item.slider-item
                    .slider-item__info
                            .slider-item__info-suptitle.suptitle-left Surf
                            .slider-item__info-title South Shore
                            .slider-item__info-suptext.suptitle-left Condition
                            .slider-item__info-text Radical
                            a(href='#').slider-item__info-link 
                                img(src="img/icons/arrow-right.svg")
                .header__slider-item.slider-item
                    .slider-item__info
                        .slider-item__info-suptitle.suptitle-left Surf
                        .slider-item__info-title West Shore
                        .slider-item__info-suptext.suptitle-left Condition
                        .slider-item__info-text Radical
                        a(href='#').slider-item__info-link 
                            img(src="img/icons/arrow-right.svg")
                .header__slider-item.slider-item
                    .slider-item__info
                        .slider-item__info-suptitle.suptitle-left Surf
                        .slider-item__info-title East Shore
                        .slider-item__info-suptext.suptitle-left Condition
                        .slider-item__info-text Radical
                        a(href='#').slider-item__info-link 
                            img(src="img/icons/arrow-right.svg")
            .slider-dots
                .slider-dots__item
                    .dots-box
                        .dots-box__number 01
                        .dots-box__name North Shore
                .slider-dots__item
                    .dots-box
                        .dots-box__number 02
                        .dots-box__name South Shore
                .slider-dots__item
                    .dots-box
                        .dots-box__number 03
                        .dots-box__name West Shore 
                .slider-dots__item
                    .dots-box
                        .dots-box__number 04
                        .dots-box__name East Shore
    script(src="https://code.jquery.com/jquery-3.5.1.slim.js")                
    script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="js/main.min.js")