<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Go Serf
        link(rel="stylesheet", href="libs/normalize/normalize.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;800&display=swap")
        link(rel="stylesheet" href="css/main.min.css")
    body
        header.header
            .header__slider
                .header__slider-item.slider-item
                    .slider-item__info
                        .slider-item__info-suptitle.suptitle-left Surf
                        .slider-item__info-title North Shore
                        .slider-item__info-suptext.suptitle-left Condition
                        .slider-item__info-text Radical
                        a(href='#').slider-item__info-link 
                            img(src="img/icons/arrow-right.svg")
                .header__slider-item.slider-item
                    .slider-item__info
                            .slider-item__info-suptitle.suptitle-left Surf
                            .slider-item__info-title WSouth Shore
                            .slider-item__info-suptext.suptitle-left Condition
                            .slider-item__info-text Radical
                            a(href='#').slider-item__info-link 
                                img(src="img/icons/arrow-right.svg")
                .header__slider-item.slider-item
                    .slider-item__info
                        .slider-item__info-suptitle.suptitle-left Surf
                        .slider-item__info-title West Shore
                        .slider-item__info-suptext.suptitle-left Condition
                        .slider-item__info-text Radical
                        a(href='#').slider-item__info-link 
                            img(src="img/icons/arrow-right.svg")
                .header__slider-item.slider-item
                    .slider-item__info
                        .slider-item__info-suptitle.suptitle-left Surf
                        .slider-item__info-title East Shore
                        .slider-item__info-suptext.suptitle-left Condition
                        .slider-item__info-text Radical
                        a(href='#').slider-item__info-link 
                            img(src="img/icons/arrow-right.svg")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.js")                
    script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="js/main.min.js")